{% load static %}

<header class="header">
  <!-- Top Bar -->

  {% comment %}
  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="{% static 'images/phone.png' %}" alt="" />
            </div>
            0342 977 158
          </div>
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="{% static 'images/mail.png' %}" alt="" />
            </div>
            <a><span class="__cf_email__">hotrongvinh1234@gmail.com</span></a>
          </div>
          <div class="top_bar_content ml-auto">
            <div class="top_bar_user">
              {% if user.is_authenticated %}
              <div class="btn-gr">
                <a
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                >
                  Chao xìn, {{ user.username }}
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                >
                  <a
                    class="dropdown-item"
                    type="button"
                    href="accounts/change_password"
                    >Đổi mật khẩu</a
                  >
                  <a class="dropdown-item" type="button" href="accounts/logout"
                    >Thoát</a
                  >
                </div>
              </div>
              {% else %}
              <div class="user_icon">
                <img src="{% static 'images/user.svg' %}" alt="" />
              </div>
              <div><a href="accounts/register">Đăng ký</a></div>
              <div><a href="accounts/login">Đăng nhập</a></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}

  <!-- Header Main -->

  <div class="header_main">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <a href="/"
              ><img
                class="logo"
                src="{% static 'images/logo.png' %}"
                style="max-height: 50px; position: relative"
            /></a>
          </div>
        </div>

        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="{% url 'search-sim' %}" method="POST" class="header_search_form">
                  {% csrf_token %}
                  <input
                    type="search"
                    required="required"
                    class="header_search_input"
                    placeholder="Tìm kiếm sim"
                    style="padding-left: 15px"
                    name="search_input"
                  />
                  <button
                    type="submit"
                    class="header_search_button trans_300"
                    value="Submit"
                  >
                    <img src="{% static 'images/search.png' %}" alt="" />
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div
            class="wishlist_cart d-flex flex-row align-items-center justify-content-end"
          >
            <!-- Cart -->
            <a class="cart_icon" href="{% url 'cart' %}">
              <div class="cart mr-4">
                <div
                  class="cart_container d-flex flex-row align-items-center justify-content-end"
                >
                    <img src="{% static 'images/cart.png' %}" alt="" />
                    <div class="cart_count"><span>{{cart_count}}</span></div>
                  {% comment %} <div class="cart_content">
                    <div class="cart_text"><a href="#">Giỏ hàng</a></div>
                    <div class="cart_price">$85</div>
                  </div> {% endcomment %}
                </div>
              </div>
            </a>
            {% if user.is_authenticated %}
              <div class="btn-group">
                <a
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                >
                  Xin chào, {{ user.last_name }} {{ user.first_name }}
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right text-right"
                  aria-labelledby="dropdownMenuButton"
                >
                  {% if user.is_admin %}
                  <a
                    class="dropdown-item text-primary"
                    type="button"
                    href="/admin"
                    >Vào trang admin</a
                  >
                  <div class="dropdown-divider"></div>
                  {% endif %}
                  <a
                    class="dropdown-item"
                    type="button"
                    href="{% url 'manage-order' %}"
                    >Quản lý đơn hàng</a
                  >
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    type="button"
                    href="{% url 'customer_update' %}"
                    >Thay đổi thông tin</a
                  >
                  <a
                    class="dropdown-item"
                    type="button"
                    href="{% url 'pass-change' %}"
                    >Đổi mật khẩu</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" type="button" href="{% url 'logout'%}"
                    >Thoát</a
                  >
                </div>
              {% else %}
                <div><a href="{% url 'signup' %}" class="btn btn-light">Đăng ký</a></div>
								<div class="pl-2"><a href="{% url 'signin' %}" class="btn btn-primary">Đăng nhập</a></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="main_nav_content d-flex flex-row">
            <!-- Categories Menu -->

            <div class="cat_menu_container">
              <div
                class="cat_menu_title d-flex flex-row align-items-center justify-content-start"
              >
                <div class="cat_burger">
                  <span></span><span></span><span></span>
                </div>
                <div class="cat_menu_text">Danh mục</div>
              </div>

              <ul class="cat_menu">
                <li class="hassubs">
                  <a href="#"
                    >Nhà mạng<i class="fas fa-chevron-right"></i
                  ></a>
                  <ul>
                    {% for net in networks %}
                    <li>
                      <a href="{% url 'network' slug_network=net.slug %}"
                        >{{net.name}}<i class="fas fa-chevron-right"></i
                      ></a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#"
                    >Kiểu số đẹp<i class="fas fa-chevron-right"></i
                  ></a>
                  <ul>
                    {% for tag in tags %}
                    <li>
                      <a href="{% url 'tag' slug_tag=tag.slug %}"
                        >Sim {{tag.name}}<i class="fas fa-chevron-right"></i
                      ></a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>

            <!-- Main Nav Menu -->

            <div class="main_nav_menu ml-auto">
              <ul class="standard_dropdown main_nav_dropdown">
                <li>
                  <a href="/">Trang chủ<i class="fas fa-chevron-down"></i></a>
                </li>
              <li class="">
                <a href="{% url 'cua-hang'%}">Cửa hàng<i class="fa fa-angle-down"></i></a>
              </li>
                <li class="hassubs">
                  <a href="{% url 'all-posts' %}">Bài viết<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    {%for topic in topics %}
                    <li>
                      <a href="{% url 'post-topic' topic_slug=topic.slug%}"
                        >{{ topic.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% comment %} <li>
                  <a href="#">Liên hệ<i class="fas fa-chevron-down"></i></a>
                </li> {% endcomment %}
                {% for post in pinned_posts %}
                <li>
                  <a href="{% url 'post' topic_slug=post.topic.slug post_slug=post.slug%}">{{post.title}}<i class="fas fa-chevron-down"></i></a>
                </li> 
                {% endfor %}
              </ul>
            </div>

            <!-- Menu Trigger -->

            <div class="menu_trigger_container ml-auto">
              <div
                class="menu_trigger d-flex flex-row align-items-center justify-content-end"
                id="left-menu"
              >
                <div class="menu_burger">
                  <div class="menu_trigger_text">MENU</div>
                  <div class="cat_burger menu_burger_inner">
                    <span></span><span></span><span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Menu -->

  <div class="page_menu">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="page_menu_content" id="page_menu_content">
            <div class="page_menu_search" style="display: block; margin: 15px 0px 0px 0px" >
              <form action="{% url 'search-sim' %}" method="POST">
                {% csrf_token %}
                <input
                  type="search"
                  required="required"
                  class="page_menu_search_input"
                  placeholder="Tìm kiếm sim"
                  name="search_input"
                />
              </form>
            </div>
            <ul class="page_menu_nav">
              <li class="page_menu_item">
                <a href="/">Trang chủ<i class="fa fa-angle-down"></i></a>
              </li>
              <li class="page_menu_item">
                <a href="{% url 'cua-hang'%}">Cửa hàng<i class="fa fa-angle-down"></i></a>
              </li>
              <li class="page_menu_item has-children">
                <a href="{% url 'all-posts'%}">Bài viết<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  {%for topic in topics %}
                    <li>
                      <a href="{% url 'post-topic' topic_slug=topic.slug%}">{{ topic.name }}<i class="fa fa-angle-down"></i></a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              {% for post in pinned_posts %}
                <li class="page_menu_item">
                  <a href="{% url 'post' topic_slug=post.topic.slug post_slug=post.slug%}">{{post.title}}<i class="fas fa-chevron-down"></i></a>
                </li> 
              {% endfor %}
            </ul>

            <div class="menu_contact">
              <div class="menu_contact_item">
                <div class="menu_contact_icon">
                  <img src="{% static 'images/phone_white.png' %}" alt="" />
                </div>
                0342 977 158
              </div>
              <div class="menu_contact_item">
                <div class="menu_contact_icon">
                  <img src="{% static 'images/mail_white.png' %}" alt="" />
                </div>
                <a
                  ><span class="__cf_email__"
                    >hotrongvinh1234@gmail.com</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- section-header.// -->
