{% extends "account_base.html" %}
<!-- load -->
{% load static %}
<!-- load -->
{% load humanize %}
<!-- Banner -->
{% block content %}
<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
<div class="col-md-8 col-lg-6">
  
  <div class="login d-flex align-items-center pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-8 mx-auto">
          <div class="text-center"><a href="/" class="text-center"
            ><img
              class="logo pb-4"
              src="{% static './images/logo.png' %}"
              style="max-height: 100px; position: relative; margin-left: -20px"
          /></a>
          </div>
          <h3 class="login-heading mb-4 font-weight-bold text-center">{{title}}</h3>

          <!-- Sign In Form -->
          <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <label for="{{ form.old_password.id_for_label }}">
                {{ form.old_password.label }}</label
              >
              {{form.old_password}}
              {% if form.old_password.errors %} 
                {% for error in form.old_password.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %} 
              {% endif %}
            </div>
            
            <div class="form-floating mb-3">
              <label for="{{ form.new_password1.id_for_label }}">Mật khẩu mới</label>
              {{form.new_password1}}
              {% if form.new_password1.errors %} 
                {% for error in form.new_password1.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %} 
              {% endif %}
            </div>
            <div class="form-floating mb-3">
              <label for="{{ form.new_password2.id_for_label }}">Xác nhận mật khẩu mới</label>
              {{form.new_password2}}
              {% if form.new_password2.errors %} 
                {% for error in form.new_password2.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %} 
              {% endif %}
            </div>
            {% comment %} <div class="d-grid mb-3">
               {% if form.non_field_errors %} 
                {% for error in form.non_field_errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %} 
              {% endif %}
            </div> {% endcomment %}
            <div class="form-floating mb-3 mt-3">
              <button
                class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2 w-100"
                type="submit"
              >
                Thay đổi mật khẩu
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
