<!-- extends -->
{% extends "order_base.html" %}
<!-- load -->
{% load static %}
<!-- load -->
{% load humanize %}
<!-- Banner -->
{% block content %}
<div class="cart_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cart_container">
          {% comment %}  {% endcomment %}
          <div class="cart_items">
            <div class="cart_title text-center mb-4 font-weight-bold">Thông tin đơn hàng ngày</div>
            <div class="h5 text-center mb-4 font-weight-bold">
              <small><a  href="{% url 'order-tracker' id=order.id%}">{{order.order_date|date:"d/m/Y - H:i:s"}}</a></small>
            </div>
            <div class="h5 text-center mb-4 font-weight-bold font-italic text-success"><small>Tình trạng đơn hàng: {{order.get_order_status_display}}</small></div>
            <div class="font-weight-bold mb-4 h5">Thông tin giỏ hàng</div>
            <div class="cart_list table-responsive">
              <table class="table mb-0 table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="text-center" style="white-space: nowrap;">Số điện thoại</th>
                    <th scope="col" class="text-center" style="white-space: nowrap;">Nhà mạng</th>
                    <th scope="col" class="text-right" style="white-space: nowrap;">Giá gốc</th>
                    <th scope="col" class="text-right" style="white-space: nowrap;">Giảm</th>
                    <th scope="col" class="text-right" style="white-space: nowrap;">Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order_item in orderItem %}
                  <tr>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="{% url 'sim' slug_sim=order_item.sim_slug %}" class="text-dark">
                            {{order_item.sim_phone_number}}
                        </a>
                    </td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="{% url 'network' slug_network=order_item.network_slug %}" class="text-dark">
                            {{order_item.network_name}}
                        </a>
                    </td>
                    <td class="text-right" style="white-space: nowrap;">
                        {{order_item.get_original_price_str}}
                    </td>
                    <td class=" text-right" style="white-space: nowrap;">
                        {{order_item.get_discount}}
                    </td>
                    <td class="text-right" style="white-space: nowrap;">
                        {{order_item.get_sale_price_str}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <!-- Order Total -->
          <div class="order_total h-auto">
            <div class="order_total_content w-100">
              <div class="d-flex mb-3">
                <div class="order_total_title mr-auto">
                  <div class="">Thông tin liên hệ:</div>
                  <p class="font-italic mb-0" >
                  {{order.full_name}}, {{order.get_gender_display}}
                  <br>
                  {{order.phone_number}}, {{order.email}}
                  <br>
                  {{order.address}}
                  <br>
                  <br>
                  Phương thức thanh toán: 
                    {{order.get_payment_method_display}}
                  </p>
                </div>
                <div class="order_total_title ml-auto">
                  Tổng tiền: 
                  <strong class="text-dark">
                  {{order.get_total_price}}</strong>
                  {% if not order.is_paid and order.payment_method != 'COD' %}
                  <form method="post" action="{% url 'payment' %}">
                    {%csrf_token %}
                    <input type="hidden" name="hiddenID" value="{{order.id}}" />
                    <button type="button" class="btn btn-outline-primary w-100 ">Thanh toán</button>
                  </form>
                  {%endif %}
                  <br>
                  <a href="{% url 'order-invoice' id=order.id %}" class="btn btn-primary w-100">Xem hóa đơn</a>
                  <br>
                  {% if order.order_status == "PENDING" %}
                  <form method="post" action="{% url 'cancel-order' %}">
                    {%csrf_token %}
                    <input type="hidden" name="hiddenID" value="{{order.id}}" />
                    <button type="button" class="btn btn-outline-danger w-100 ">Hủy đơn</button>
                  </form>
                  {%else %}
                  <button type="hidden" class="btn btn-outline-danger w-100 btn-disabled" disabled>Hủy đơn</button>
                  {%endif %}
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}