<!-- extends -->
{% extends "base_page.html" %}
<!-- load -->
{% load static %}
<!-- load -->
{% load humanize %}
<!-- Banner -->
{% block content %}
<div class="shop_content">
	<div class="shop_bar clearfix">
		<div class="shop_product_count"><span id="simcount">{{sims|length}}</span> sim</div>
		<div class="shop_sorting" style="float: right">
			<span>Sắp xếp: </span>
			<ul>
				<li>
					<span class="sorting_text"><span id="orderDisplay">Giá tăng dần</span><i class="fas fa-chevron-down"></span></i>
					<ul>
						<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price_increasing" }' id="price_increasing">Giá tăng dần</li>
						<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price_decreasing" }' id="price_decreasing">Giá giảm dần</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="product_grid row pt-3 pl-4" id="sim-grid">
		{% for sim in sims %}
		<!-- Char. Item -->
			<div class="col-md-6 char_col mb-3" data-price="{{ sim.get_curr_price }}">
				<div
				class="char_item d-flex flex-row align-items-center justify-content-start"
				>
				<div class="char_icon">
					<img src="{{ sim.network_image_logo }}" alt="" />
				</div>
				<div class="char_content">
					<div class="char_title font-font-weight-bold"><a class="font-weight-bold" href="{% url 'sim' slug_sim=sim.slug %}">{{ sim.phone_number }}</a></div>
					<div class="char_subtitle">
						{{ sim.get_salepricestr }} 
						{% if sim.discount %}
						<small class="text-danger">(-{{ sim.discount }}%)</small>
						{% endif %}
					</div>
				</div>
				<div
					style="
					position: absolute;
					right: 25px;
					top: 23px;
					height: 50px;
					margin: auto;
					"
					class="button banner_button my-0"
				>
					<a href="#" class="valign" style="font-size: 18px; padding: 0px 18px">
					<i class="fas fa-shopping-cart" style="margin-top: 15px"></i>
					</a>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
	<div class="spinner-container text-center pb-2 d-none" id="spinner-box">
		<div class="spinner-grow spinner-grow-1 text-primary" role="status" style="width: 1rem; height: 1rem;"></div>
		<span class="sr-only">Loading...</span>
		</div>
		</div>
	</div>
	<div id="loading-box" class="container text-center">
		<button class="btn btn-outline-primary" id="load-btn">Hiển thị thêm</button>
	</div>
</div>
<script>
    const simList = document.getElementById("sim-grid");
    const spinnerBox = document.getElementById("spinner-box");
    const loadBtn = document.getElementById("load-btn");
	const form = document.getElementById("filterForm");
	const btnFindSIM = document.getElementById("btnFindSIM");
	const page_number = document.getElementById("page_number");
	const simcount = document.getElementById("simcount");

   function handleGetData(orderStateChange) {
		$.ajax({
			type: "post",
			url: "/filter-sim/",
			data: $('#filterForm').serializeArray(),
			success: function (response) {
			if (response.data === null) { return; }
			simcount.innerHTML = simList.children.length;
			const data = response.data;
			spinnerBox.classList.remove("d-none");
			if (parseInt(page_number.value) < 2 || orderStateChange==true) {
				simList.innerHTML = '';
			}
			setTimeout(() => {
				spinnerBox.classList.add("d-none");
				data.map(sim=>{
					innerHTML = `
							<div class="col-md-6 char_col mb-3" data-price="${ sim.get_curr_price }">
							<div class="char_item d-flex flex-row align-items-center justify-content-start">
							<div class="char_icon">
								<img src="${sim.network_image_logo}" alt="${sim.slug}" />
							</div>
							<div class="char_content">
								<div class="char_title font-font-weight-bold">
								<a class="font-weight-bold" href="/sim/${sim.slug}">${sim.phone_number}</a>
								</div>
								<div class="char_subtitle">
								${ sim.get_salepricestr }`
					if (sim.discount > 0) {
						innerHTML += 
						` 
								<small class="text-danger">(-${ sim.discount }%)</small>
						`
					}
					innerHTML += `
								</div>
							</div>
							<div style="position: absolute; right: 25px; top: 23px; height: 50px; margin: auto;" class="button banner_button my-0">
								<a href="/sim/${sim.slug}" class="valign" style="font-size: 18px; padding: 0px 18px">
								<i class="fas fa-shopping-cart" style="margin-top: 15px"></i>
								</a>
							</div>
							</div>
						</div>`;
					simList.innerHTML += innerHTML;
					});
			}, 500);
			},
			error: function (error) {
			console.log(error);
			},
		});
    };

	function loadMore() {
		page_number.value = parseInt(page_number.value) + 1;
		handleGetData(false);
	}

	form.addEventListener("change", () => {
		findSIM();
    });

    loadBtn.addEventListener("click", () => {
		loadMore();
    });

	btnFindSIM.addEventListener("click", () => {
		findSIM();
    });

	function findSIM() {
		page_number.value = 1;
		handleGetData(true);
	}

  </script>
{% endblock content %}
